.z-40 {
  z-index: 40;
}

.z-30 {
  z-index: 30;
}

.fixed {
  position: fixed;
}

.opacity-50 {
  opacity: 0.5;
}

.w-16 {
  width: 4rem;
}

.w-full {
  width: 100%;
}

.h-16 {
  height: 4rem;
}

.h-full {
  height: 100%;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
