* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span:nth-child(1) {
  color: #00ff00;
}

span:nth-child(2) {
  color: #ffff00;
}

span:nth-child(3) {
  color: #ff00ff;
}
#header-event {
  background-image: linear-gradient(to bottom right, #a0effa 10%, #f0f8f8 80%);
  padding: 7em 0 2em;
}
#header-event h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
  color: #4d9faa;
  padding: 0.5em 0 1em;
}
.event-header {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #f0f8f8 10%, #61e1f1 80%);
  box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.75);
}
.img-reading-event {
  display: block;
  margin: 0 auto;
}
#event-section {
  margin: 2em auto;
}
.event-text {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.event-text h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.7em;
  color: #4d9faa;
  padding: 1.1em 0 0;
}
.event-text p {
  text-align: center;
  font-size: 1.3em;
  color: #4d9faa;
  padding: 1.3em;
}
#event h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
  padding: 1em 0 0;
  color: #4d9faa;
}
.event-content {
  display: grid;
  gap: 1.1em;
  padding: 1.9em;
  margin: 0.3em auto 2.5em;
}
.event-item {
  background-image: linear-gradient(to bottom right, #a0effa 10%, #f0f8f8 80%);
  overflow: hidden;
}
.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.item3 {
  grid-column: 3 / span 4;
  grid-row: 1;
}
.img-grid {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
#form-join {
  height: 65vh;
  margin: 0 0 5em;
  background-image: linear-gradient(to bottom right, #f0f8f8 10%, #61e1f1 80%);
}
.form-content {
  width: 50%;
  display: block;
  margin: 0 auto 1em;
}
.form-content h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
  color: #4d9faa;
  padding: 0.4em 0 1em;
}
.form-content form {
  width: 42%;
  margin: 0 auto 1.5em;
}
.form-content label {
  font-size: 1.1em;
  padding: 1em 1.1em;
  margin: 0.3em 0;
  text-transform: capitalize;
  color: #4d9faa;
}
.form-content .input-form {
  display: block;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 25px;
  font-size: 1em;
  padding: 0.7em 1.6em;
  outline: none;
}
.btn-form {
  border: 1px solid #dbdbdb;
  color: #555353;
  background-color: #fff;
  border-radius: 25px;
  font-size: 1.15em;
  display: block;
  margin: 0 auto 2em;
  padding: 0.5em 1.3em;
  cursor: pointer;
}
.btn-form:hover {
  border: 1px solid transparent;
  background-color: #4d9faa;
  color: #fff;
  transition: 0.3s ease-in-out;
}